@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.header {
    display: flex;
}
.header .navbar {
    margin-top: 27px;
}
header {
    text-align: center;
}
 
header a{
    text-decoration: none;
    padding: 16px;
    background-color: antiquewhite;
    border-radius: 10px;
}

header a:first-child {
    margin-left: 20px;
}

header .index-content {
    margin-right: 14px;
}

.default-btn {
    padding: 16px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px chocolate;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}

.image img {
    width: 100%;
    max-width: 550px;
    height: auto;
}


