body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    background-color: lightblue;
    padding: 14px 16px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.navbar ul li a:hover {
    background-color: lightskyblue;
    cursor: pointer;
}
.navbar ul li a:active {
    transform: scale(0.95);
}
.header {
    display: flex;
}
.header .navbar {
    margin-top: 27px;
}
header {
    text-align: center;
}
 
header a{
    text-decoration: none;
    padding: 16px;
    background-color: antiquewhite;
    border-radius: 10px;
}

header a:first-child {
    margin-left: 20px;
}

header .index-content {
    margin-right: 14px;
}

.default-btn {
    padding: 16px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px chocolate;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}

.image img {
    width: 100%;
    max-width: 550px;
    height: auto;
}


p, ul {
    text-align: justify;
}